.header__wrapper {
    display: flex;
    height: 150px;
}

.logo__container {
    display: flex;
    width: 55%;
}

.logo {
    background-image: url(../img/logo.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover contain;
}