.header__wrapper {
    display: flex;
    height: 150px;
}

header .logo {
    background-image: url(public/images/logo.jpg);
    background-position: left;
    background-repeat: no-repeat;
    width: 55%;
}